
.user-form{
  display: inline-block;
}

.input-field{
  border: 1px solid black;
  width: 100px;
  height: 20px;
}
.output-field{
  border: 1px solid black;
  width: 100px;
  height: 20px;
}


.grid-row{
}
.grid-node{
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}
